@import "../../../../../styles/colors.scss";

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  thead {
    background: $gray-color-100;
  }

  tbody tr:nth-child(even) {
    background: $gray-color-100;
  }
}

.item {
  color: $gray-color-400;
}

.editRow {
  display: flex;
  gap: 10px;
}

.editBtn {
  background: $blue-color-500;
  border: none;
  color: $white-color;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.saveBtn {
  @extend .editBtn;
  background: $primary-color;
}

.deleteBtn {
  @extend .editBtn;
  background: $red-color-500;
  margin-left: 5px;
}
